@media screen and (max-width:576px) {
    .navbar,.nav-links,.teams,.factor-container,.sponsor-img,.feature{
        flex-direction: column;

    }
  .nav-links{
    gap: 50px;
  }
  .factor-container{
    gap: 10px;
    align-items: center;
  }
  .sponsor-img{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  .feature-img{
    width: 100%;
  }
  .btn-scendary{
    margin-left:0px;
  }
}